<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lypmarketplace"
        tools:targetApi="31">
        <activity
            android:name=".UlasanActivity"
            android:exported="false" />
        <activity
            android:name=".BelanjaSuksesActivity"
            android:exported="false" />
        <activity
            android:name=".OrderPageActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".RoomChatActivity"
            android:exported="false" />
        <activity
            android:name=".ChatDokterActivity"
            android:exported="false" />
        <activity
            android:name=".IsiArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".EdukasiActivity"
            android:exported="false" />
        <activity
            android:name=".DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".BelanjaObatActivity"
            android:exported="false" />
        <activity
            android:name=".BelanjaActivity"
            android:exported="false" />
        <activity
            android:name=".ResultPeriksaKesehatanActivity"
            android:exported="false" />
        <activity
            android:name=".PeriksaKesehatanActivity"
            android:exported="false" />
        <activity
            android:name=".ResultVitaminActivity"
            android:exported="false" />
        <activity
            android:name=".JanjiVitaminActivity"
            android:exported="false" />
        <activity
            android:name=".ResultVaksinasiActivity"
            android:exported="false" />
        <activity
            android:name=".JanjiVaksinasiActivity"
            android:exported="false" />
        <activity
            android:name=".BuatJanjiActivity"
            android:exported="false" />
        <activity
            android:name=".GaleriActivity"
            android:exported="false" />
        <activity
            android:name=".DetailGaleriActivity"
            android:exported="false" />
        <activity
            android:name=".ListGaleriActivity"
            android:exported="false" />
        <activity
            android:name=".HewankuActivity"
            android:exported="false" />
        <activity
            android:name=".DetailHewanActivity"
            android:exported="false" />
        <activity
            android:name=".ListHewanActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".FlashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MarketplaceLypActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>